.DS_Store
.Rhistory
__pycache__
*_files/
*_cache/
#*.csv
*.RData
*.state
#*.sh
.Rproj.user
.snakemake/
logs/


.Rprofile
BESP_paper-analyses.Rproj
renv/library/

results/pop_size_simulations/simulation_results/
results/pop_size_simulations/simulation_results_old/
results/pop_size_simulations/simulation_results_new/
results/pop_size_simulations/simulation_results_2/
results/pop_size_simulations/simulation_results_3/
results/pop_size_simulations/independent_homochronous/
results/pop_size_simulations/simulation_results_combined/
results/pop_size_simulations_new_param/
results/simulations_plots/
results/pop_size_simulations/evaluation/

workflows/old_code.py
workflows/simulate_trees_popEffect.Rmd
workflows/combined_branch_lengths.csv

scripts/CreateSamplingTimes.R
scripts/logs/
scripts/*.out
scripts/*.err
scripts/.trees
scripts/xml_list_*.txt
scripts/.log

results/run1/simulated_data/**/*_snps.fasta
results/run1/simulated_data_test/
results/run_bottleneck/beast_inference/
results/run_bottleneck/simulated_data/
results/run1/simulated_data/

benchmarks/
results/run1/beast_inference/
